{% extends "base.html" %}

{% block content %}
<div id="main" class="container">
    <div id="search">
         <h2>Directory</h2>

    </div>
    <hr>

    {% if results %}
    <div id="results">




    {% endif %}

    {% for institute in institutes %}
        <div class="institute-name lvl1">
            <span><h3>{{institute.name}}</h3></span>
            <div class="department-names lvl2">
            {% for department in departments %}
                {% if institute == department.institute %}

                        <span><h4>{{department.name}}</h4></span>
                        <div class="profile-list lvl3">
                            <ul class="no-bullets">
                            {% for profile in profiles %}
                                {% if department == profile.department %}
                                    <li class="profile-listing"><a href="{{profile.url}}" target="_blank">{{profile.last_name}}, {{profile.first_name}}</a>{% if profile.role %} - {{ profile.role|truncatechars:100 }}{% endif %}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>


                {% endif %}
            {% endfor %}
            </div>
            <hr>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}